
<div>
    <h2><span>Verification</span> {{vm.verification.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span>Verification Id</span></dt>
        <dd>
            <span>{{vm.verification.verificationId}}</span>
        </dd>
        <dt><span>System</span></dt>
        <dd>
            <span translate="{{'pliroApp.ContactPointSystem.' + vm.verification.system}}">{{vm.verification.system}}</span>
        </dd>
        <dt><span>Value</span></dt>
        <dd>
            <span>{{vm.verification.value}}</span>
        </dd>
        <dt><span>Code</span></dt>
        <dd>
            <span>{{vm.verification.code}}</span>
        </dd>
        <dt><span>Verified At</span></dt>
        <dd>
            <span>{{vm.verification.verifiedAt | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            onclick="window.history.back()"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
